/**
 * Entry file for SCSS
 */

@import '~$scss/variables';
@import '~$fonts/montserrat/montserrat';
@import '~$scss/typography';
@import '~$scss/hero';

* {
    box-sizing: border-box;
}

body {
    font-family: $base-font-family;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 75rem;
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 100%;
}

.imprint-privacy-links {
    position: absolute;
    right: .6rem;
    bottom: .6rem;
    font-size: .65rem;
    z-index: 25;
    
    a {
        color: #aaa;
        font-weight: 400;
        text-transform: none;

        &:not(:last-of-type) {
            margin-right: .5rem;
        }
    }
}